.actual{
    &__container{
        display: flex;
        width: 1140px;
        height: 120px;
        margin-top: 20px;
    }
    &__img{

    }
    &__title{
        margin-left: 40px;
    }
    &__price{
        margin-left: 714px;
    }
}


body{
    max-width: 1200px;
    margin: auto;
}