body{
    font-family: "Roboto";
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p,ul,body{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    color: #C4C4C4;

}
p{
    font-style: normal;
font-weight: 400;
font-size: 9px;
color: black;
margin: 8px 0 17px 0;
}

